html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F0F2F4;
  }
  .navbar.is-white {
    background: #F0F2F4;
  }
  .navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
  }
  .hero-body
  {
  background-image: url("http://oum.ma/wp-content/uploads/2014/12/plaquette-OUM-Zarabi-93.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  }
  .articles {
    margin: 1rem 0;
    margin-top: -440px;
  }
  .articles .content p {
      line-height: 1.9;
  }
  .author-image {
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      border: 3px solid #ccc;
      border-radius: 50%;
  }
  .media-center {
    display: block;
    margin-bottom: 1rem;
  }
  .media-content {
    margin-top: 3rem;
  }
  div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
  }
  .article-subtitle {
    color: #909AA0;
    margin-bottom: 3rem;
  }
  .article-body {
    line-height: 1.4;

  }
  .promo-block .container {
    margin: 1rem 5rem;
  }

  .footer {
      padding: 0
  }

@media screen and (min-width: 769px) {
    .hero.is-medium .hero-body {
        padding: 0;
    }
}
