<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sống sót giữa Sài Gòn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('css/home.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>

    <section class="hero is-dark is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class='title'>Survival in Sai Gon</h1>
            </div>
        </div>
    </section>

    <!-- Map Sec -->
    <section class="articles">
        <div class="container">
            <div class="column">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <iframe src="https://wego.here.com/?map=10.84785,106.79812,15,normal" width="100%" height="500"></iframe>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>
        </div>
    </section>
    <!-- Map Sec -->

    <!-- Footer Sec -->
    <footer class="footer has-background-white ">
        <div class="content has-text-centered has-text-dark ">
            <p>Location Tech Hackathon 2018</p>
        </div>
    </footer>

</body>

</html>
